[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DSjobtracker"]
	path = DSjobtracker
	url = https://github.com/thiyangt/dsjobtracker
[submodule "colmozzie"]
	path = colmozzie
	url = https://github.com/thiyangt/colmozzie
[submodule "denguedatahub"]
	path = denguedatahub
	url = https://github.com/thiyangt/denguedatahub
[submodule "nic"]
	path = nic
	url = https://github.com/thiyangt/nic
[submodule "seer"]
	path = seer
	url = https://github.com/thiyangt/seer
[submodule "tsdataleaks"]
	path = tsdataleaks
	url = https://github.com/thiyangt/tsdataleaks
